1<html>
<head>
	<title></title>
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />  

</head>
<body onload="Main()"> 

<div class="container">
  <h2>Admin Controls</h2>
  
  <form action="{{url_for('delete_user')}}" method=post>
  <div class="form-group col-lg-6">
    <div class="row">
      <div class="input-group">
        <span class="input-group-btn">
          <input name="user_id_to_delete" type="text" class="form-control" placeholder="User ID to delete">
          <button type="submit" onclick="" class="btn btn-primary">Delete User</button>
        </span>
  
      </div><!-- /input-group -->
    </div><!-- .row -->
  </form>

</div>

</div>
<div class="container">
  <button onclick="getURL();" class="btn btn-primary">Generate New ID</button>
  <p id="new_url"></p>
</div>

<div class="container">
  <button onclick="deleteAll();" class="btn btn-primary">Clear All Client Data</button>
</div>

<div class="container">
  <h2>User Information</h2>
  <p>Use the unique id to interact with a user - deleting them</p>
  <table class="table">
    <thead>
      <tr>
        <th>Unique ID</th>
        <th>URL</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>timestamp</th>
        <th>link clicked</th>
        <th>map view</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td>{{result.unique_id}}</td>
          <td>{{result.url}}</td>
          <td>{{result.latitude}}</td>
          <td>{{result.longitude}}</td>
          <td>{{result.timestamp}}</td>
          <td>{{result.link_clicked}}</td>
          <td><a href="/map_view/{{result.unique_id}}">map view</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="map" style="width: 600px; height: 400px"></div>

<!-- loading JQuery -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

<!-- Bootstrap from cdn -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Javascript portion -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- CSS portion -->
<script>

function Main(){
  pingServer();
  loadMap(); 
}

function pingServer(){
	var one_second = 1000;
	var one_minute = 60*one_second;
	var two_minutes = 2*one_minute;
	setTimeout(function(){
   		window.location.reload(1);
	}, one_minute);
}

function loadMap(){
  var locations = JSON.parse({{locations|tojson}});
  L.mapbox.accessToken = 'pk.eyJ1IjoiZXJpY3NjaGxlcyIsImEiOiI5Zjk4MjVkZTZlMjAwM2I3OTY2OTI4MTJmODVkN2Q3MCJ9.1gRox8Gx76YqrBJiCsxLLQ';  
  var map = L.mapbox.map('map', 'mapbox.streets')
  .setView([locations[0]["geometry"]["coordinates"][1],locations[0]["geometry"]["coordinates"][0]],11)
  .featureLayer.setGeoJSON(locations);
}

function getURL(){
  $.get( "/send_url",function(data){
     document.getElementById("new_url").innerHTML=$.parseJSON(data)["url"];
  })
}

function deleteAll(){
  $.post("/delete_all_users");
}

</script>
</body>
</html>